<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="gobile.boomesh.com.gobile">

    <application
        android:name=".DebugApp"
        android:allowBackup="true"
        android:fullBackupContent="@xml/scheme_backup"
        tools:replace="android:name" />

</manifest>
